source https://nuget.org/api/v2

nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners

github hakimel/reveal.js:3.1.0
github forki/FsUnit FsUnit.fs
github fsharp/FAKE modules/Octokit/Octokit.fsx