source https://nuget.org/api/v2

nuget FAKE
nuget SourceLink.Fake
nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners

github kfuglsang/reveal.js:highlightjs-86
github forki/FsUnit FsUnit.fs
github fsharp/FAKE modules/Octokit/Octokit.fsx