.reveal pre code {
	font-family: 'Droid Sans Mono', consolas, monospace;
	padding: 0;
	word-wrap: break-word;
	overflow: visible;
	max-height: none;
	box-shadow:none;
	background: transparent;
	color: inherit;
}
