<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Deedle" version="1.0.1" targetFramework="net451" />
  <package id="Deedle.RPlugin" version="1.0.1" targetFramework="net451" />
  <package id="FSharp.Charting" version="0.90.6" targetFramework="net451" />
  <package id="FSharp.Data" version="2.0.9" targetFramework="net451" />
  <package id="FsLab" version="0.0.16" targetFramework="net451" />
  <package id="MathNet.Numerics" version="3.0.0" targetFramework="net451" />
  <package id="MathNet.Numerics.FSharp" version="3.0.0" targetFramework="net451" />
  <package id="R.NET.Community" version="1.5.15" targetFramework="net451" />
  <package id="R.NET.Community.FSharp" version="0.1.8" targetFramework="net451" />
  <package id="RProvider" version="1.0.13" targetFramework="net451" />
</packages>